<nav class="navbar">
    <div class="container nav-container">
        <div class="logo">
            <a href="#" class="navbar-brand">
                <i class="fas fa-wind"></i>
                Calidad de aire en Pereira
            </a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="nav-menu">
            <a href="#" class="nav-link">Inicio</a>
            <a href="#prediction" class="nav-link">Predicción</a>
            <a href="#team" class="nav-link">Equipo</a>
        </div>
    </div>
</nav>